<div class = "container" >
  <mat-toolbar color = "primary"  >Audio Player</mat-toolbar>
  
  <div class = "logo-container"  >
    <div class = " col-md-12 col-sm-12 logo" >
      <mat-icon  *ngIf="!state?.active" class = "logo" color = "primary" >{{logo}}</mat-icon> 
      <img class = "song-img" *ngIf="state?.active" src = "../../../assets/2014-0608-Neymar.jpg" >  
    </div>
    <div class = 'title'>  
      <h3 class = "col-md-12 text-center" >{{title}}</h3>
    </div>
    
  </div>
 
  <div class = "song-list" >
    <mat-card-content color = "primary">
      <p style = "color:gray;">Songs</p>
      <div style = "position:relative; overflow-y: auto; overflow-x: hidden; max-height: 30vh;" >
        <mat-list  style = "margin-left:5px; " *ngFor = "let file of files; let i = index"  (click)="openFile(file,i)" [ngClass]="file.isActive ? 'active':'files'"> 
          <mat-icon color = "primary">music_note</mat-icon>
          <h4 mat-line>{{ file.name }}</h4>
          <h5 mat-line>{{file.author}}</h5>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
    </mat-card-content>
  </div>

  <div class = "media-player">
    <mat-toolbar color = "primary">
      <mat-toolbar-row>
        {{state?.readableCurrentTime}}
        <mat-slider [min]=0 [max] ="state?.duration" [step]=1 [value] = "state?.currentTime" (input)="onSliderChange($event)"  ></mat-slider> 
        {{state?.readableDuration}}
      </mat-toolbar-row>
      <mat-toolbar-row class = "media-action-bar">
        <button mat-button [disabled] = "isFirstPlaying()" (click) = "previous()">
          <mat-icon mat-list-icon>skip_previous</mat-icon>
        </button>

        <button mat-button  *ngIf="!state?.playing" (click) = "play()">
          <mat-icon mat-list-icon>play_circle_filled</mat-icon>
        </button>
        <button mat-button *ngIf = "state?.playing" (click) = "pause()">
          <mat-icon mat-list-icon>pause</mat-icon>
        </button>

        <button mat-button [disabled] = "isLastPlaying()" (click) = "next()">
          <mat-icon mat-list-icon>skip_next</mat-icon>
        </button>
        
       
      </mat-toolbar-row>
    </mat-toolbar>

  </div>
</div>
