.song-list{
    padding-bottom: 2%;
  }
    .mat-list:hover{
      color: #9400D3;
      transform: scale(1.01);
      transition-duration: 1s;
      cursor: default;
    }
   .active{
    color: #9400D3;
    transform: scale(1.01);
    transition-duration: 1s;
    cursor: default;
   } 
    /*.mat-list:visited{
      color: #9400D3;
      transform: scale(1.01);
      
    } */
  
  mat-slider{
    width:100%;
    color: white;
  } 
  
  button{
    position: relative;
    width:33%;
    
  
  }
  button:hover{
    transform: scale(1.01);
      transition-duration: 1s;
  }

  .mat-divider {
    border-top-color: gray;
    border-top-width: 2px;
    opacity: 0.5;
  }

  